body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.videoFeed button{
  height: 50px;
  background-color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 1rem;
  cursor: pointer;
}

.videoFeed button:hover{
  background-color: whitesmoke;
}

.videoFeed video{
  background-color: black;
  height: 300px;
  width: 600px;
}